<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Library Management System</title>
</head>
<body>
  <header>
    <button class="btn btn-outline-secondary back-btn " (click)="goToLogin()">
      <i class="fa fa-arrow-right"></i> Login/Register
    </button>
    <div class="glass-box">
    <h1><i>Welcome to E-Library</i>📖</h1>
    <p>
      E-Library is a smart and efficient platform for managing library operations. From member registration to book tracking and renewals, everything is streamlined in one place. The system tracks borrowing history, due dates, and membership status to ensure a smooth and organized library experience.</p>
    </div>
  </header>

  
  <footer>
    <p>&copy; 2025 Library Management System. All rights reserved.</p>
  </footer>
</body>
</html>

